
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'assets/img/apple-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/img/favicon.png' %}"
    />
    <title>Soft UI Dashboard by Creative Tim</title>
    <!--     Fonts and icons     -->
    {% include 'dashboard/partials/head_links.html' %}

  </head>

  <body class="g-sidenav-show bg-gray-100">
    {% include 'dashboard/partials/sidebar.html' %}

   {% block content %}
    
   {% endblock %}
    <!--   Core JS Files   -->

    {% include 'dashboard/partials/foot_links.html' %}
  </body>
</html>
